/* body {
  background-color: #007bff;
} */

.navbar-brand img{
  width: 50px;
}

#main-title{
  text-align: center;
  margin: 15px 0 30px;
}

/* HOME */
#contacts-table{
  max-width: 800px;
  margin: 0 auto;  /* tecnica de centralização */
}

#contacts-table thead {
  color: #fff;
  background-color: #007bff;
}

.col-id {
  font-weight: bold;
}

.actions {
  text-align: right;
  width: 150px;
}

.actions i {
  font-size: 17px;
  margin-right: 5px;
}

.check-icon {
  color: #1e7e34;
}

.edit-icon {
  color: #007bff;
}

.delete-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.delete-icon {
  color: #bd2130;
}

#empty-list-text {
  text-align: center;
}

#msg {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;  /*para centralizar tudo */
  margin-top: 30px;
}

/* link Agenda/Adicionar contatos */
#home-link {
  transition: 0.6s;
  font-weight: bold;
  cursor: pointer;
}

#home-link:hover {
  color: black;
}
/* ////////////////////////////// */

/* SHOW / CONTATO INDIVIDUAL */

#view-contact-container{
  max-width: 500px;
  margin: 0 auto;
}

.bold{
  font-weight: bold;
}

#back-link-container{
  display: block;
  width: 500px;
  margin: 30px auto 0;
}

#back-link{
  border: 1px solid #007bff;
  color: #007bff;
  border-radius: 4px;
  padding: 5px;
  transition: 0.2s;
  font-weight: bold;
}

#back-link:hover{
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

/* CREATE */

#create-form,
#edit-form{
  max-width: 500px;
  margin:  0 auto;
}

